.ctaheading {
    font-size: 50px;
    font-weight: 400;

    @media (max-width: 576px) {
        font-size: 44px;
    }

    span {
        color: var(--color-text-secondary);
        font-size: inherit;
    }

}