.techStackBlock {
    margin-top: 81px;
    margin-bottom: 90px;
    padding-left: 62px;
    display: flex;
    border-top: 1px solid var(--color-background-secondary);
    border-bottom: 1px solid var(--color-background-secondary);

    @media (max-width: 1300px) {
        margin-top: 20px;
        border: none;
        padding-left: 0;
        justify-content: center;
        flex-wrap: wrap;
    }

    .techCard {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 1px solid var(--color-background-secondary);
        border-right: 1px solid var(--color-background-secondary);

        @media (max-width: 1300px) {
            border: none;
            width: 100%;
        }

        @media (max-width: 576px) {
            padding: 30px 0;
        }

        .info {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 270px;
            height: 266px;
            border: 1px solid var(--color-background-secondary);
            border-radius: 50%;

            @media (max-width: 576px) {
                span {
                    font-size: 22px;
                }
            }

            .icon {
                position: absolute;
                top: 85%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 62px;
                height: 62px;
                border-radius: 50%;

                background: var(--color-text-primary);
            }
        }
    }

    .toolsCard {
        padding: 71px 47px 0 36px;

        @media (max-width: 576px) {
            padding: 0;
            padding-top: 45px;

        }

        .toolsTitle {
            width: 100%;
            font-size: 30px;
            font-weight: 500;

            @media (max-width: 576px) {
                font-size: 26px;
            }
        }

        .toolsInfo {
            display: flex;
            gap: 5px;
            margin-top: 93px;

            @media (max-width: 576px) {
                margin-top: 40px;
                gap: 49px;
                flex-direction: column;
            }

            span {
                letter-spacing: -0.5px;
                color: var(--color-text-secondary);

                @media (max-width: 576px) {
                    width: 60%;
                }
            }
        }
    }
}