.cardTariff {
    
    max-width: 352px;
    height: 100%;
    padding: 12px;
    background: #FBFBFB;
    border: 1px solid #EEEEEE;
    border-radius: 32px;

    .content {
        padding: 28px 28px 28px 32px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
        border-radius: 20px;

        h2 {
            font-weight: 100;
            font-size: 24px;
        }

        .tag {
            width: fit-content;
            margin-top: 12px;
            background: #10D07F1A;
            padding: 8px 14px;
            border-radius: 100px;
            
            h3 {
                font-weight: 300;
                font-size: 14px;
                line-height: 132%;
                color: #0A955A;
            }
        }

        .subtitle {
            margin-top: 32px;
            font-size: 32.5px;
            font-weight: 300;
            span {
                font-size: inherit;
                color: #8B8B8B;
            }
        }

        .price {
            margin-top: 56px;
            font-family: "InternDisplay", sans-serif;
            font-size: 32px;

            .currencyType {
                font-size: 16px;
            }

            .paymentType {
                font-size: 14px;
            }
        }
    }

    .button {
        margin-top: 12px;
        max-width: 275px;
        width: 100%;
        height: 61px;
        background: var(--color-text-primary);
        color: var(--color-text-white);

        .icon {
            filter: var(--filter-white);
        }

        &:hover {
            background: var(--color-text-primary) !important;
            color: var(--color-text-white) !important;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 28px;

        .price {
            margin-top: 29px;
            font-size: 32px;

            .currencyType {
                font-size: 16px;
            }

            .paymentType {
                font-size: 14px;
            }
        }

        .features {
            width: 100%;
            max-height: 169px;

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;

            .feature {
                width: 49%;
                font-size: 12px;
                line-height: 130%;
                color: var(--color-text-secondary);
                position: relative;
                padding-left: 17px;

                &::marker {
                    content: '';
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0; 
                    top: 3px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: var(--color-text-secondary);
                    display: block;
                }
            }
        }
    }
}

.tarrifBlack {
    
    color: var(--color-text-white);
    background: #1B1B1B;

    .content {
        border: none;
        background: #323232;

        .title {
            color: var(--color-text-white);
        }

        .tag {
            background: #FBFBFB1A;

            h3 {
                color: #FBFBFB99;
            }
        }

        .subtitle {
            color: var(--color-text-white);

            span {
                color: #8B8B8B;
            }
        }

    }

    .button {
        background: var(--color-text-white);
        color: var(--color-text-primary);

        .icon {
            filter: var(--filter-primary);
        }
        &:hover {
               background: var(--color-text-white) !important;
        color: var(--color-text-primary) !important;
  
        }
    }

    .price {
        color: var(--color-text-white);

        span {
            color: var(--color-text-white);
        }
    }

    .features {
        max-height: 212px;

    }
}