.appButton {
  align-items: center;
  justify-content: center;
  width: fit-content;

  box-shadow: none;
  border: none;
  border-radius: 100px;

  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;

  span,
  p {
    color: inherit;
    font-size: inherit;
  }
}
