.ourTariffPlans {

    padding: 120px 0;
    position: relative;
    width: 100%;
    background: #F4F4F4;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("/wallpaper_one.svg") repeat;
        background-size: 60px;
        opacity: 10%;
        z-index: -1;
    }

    .tariffsInfo {
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 17%;

        @media (max-width: 1200px) {
            gap: 50px;
        }
                @media (max-width: 850px) {
          flex-direction: column;
        }

        h2 {
            width: 100%;
            font-size: 78px;
            white-space: nowrap;

            @media (max-width: 1200px) {
                font-size: 50px;
            }
        }

        p {
            line-height: 150%;
            width: 100%;
            font-size: 16px;
        }
    }

}