.hero {
  .heroHeader {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin: auto;
      width: 75%;
      text-align: center;
      font-weight: 400;

      span {
        font-size: inherit;
        color: var(--color-text-secondary);
      }

      @media (max-width: 1410px) {
        width: 80%;
      }

      @media (max-width: 576px) {
        max-width: 360px;
        width: 100%;
        font-size: 28px;
        line-height: 100%;
        text-align: center;
      }
    }

    .casesPreviewBtns {
      margin-top: 40px;

      .caseBtn {
        gap: 0;
        height: 49px;
        color: var(--color-background-primary);

        .text {
          height: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 16px;
          width: 156px;
          border-radius: 25px;
          background: var(--color-gradient-accent);
          color: var(--color-background-primary);
        }

        .arrow {
          width: 49px;
          height: inherit;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 100px;
          background: var(--color-text-primary);
          transition: ease-out 0.5s;

          img {
            transform: rotate(135deg);
            filter: var(--color-white-fill);
          }
        }

        &:hover {
          .arrow {
            transform: translateY(-30px) rotate(-165deg);
          }
        }
      }
    }
  }

  .casesPreviewList {
    margin-top: 70px;
    display: flex;
    gap: 24px;

    @media (max-width: 1000px) {
      flex-direction: column;
    }

    @media (max-width: 576px) {
      gap: 16px;
    }

    .cardPreviewAboutUs,
    .cardPreviewProject {
      width: 100%;
      display: flex;
      flex-direction: column;
      background: var(--color-background-secondary);
      border-radius: 25px;

      img {
        width: 100%;
      }
    }

    .cardPreviewAboutUs {
      .cardImg {
        display: flex;
        justify-content: end;
        float: right;

        img {
          margin-top: 68px;
          // margin-left: 100%;

          @media (max-width: 576px) {
            margin-top: 0;
            margin-left: 0;
            padding-top: 24px;
            padding-left: 24px;
          }
        }
      }

      span {
        line-height: 100%;
        margin: 0 77px;
        margin-top: 60px;
        margin-bottom: 37px;
        text-align: center;
        background: var(--color-gradient-accent);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 576px) {
          margin: 0 12px;
          margin-top: 30px;
          margin-bottom: 41px;
        }
      }
    }

    .cardPreviewProject {
      display: flex;
      flex-direction: column;
      gap: 22px;
      padding: 24px;

      @media (max-width: 576px) {
        padding: 15px;
      }

      img {
        height: 100%;
        border-radius: 15px;
        object-fit: cover;
      }

      @media (max-width: 576px) {
        padding: 12px;
      }
    }
  }
}
