.techCard {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--color-background-secondary);
  border-right: 1px solid var(--color-background-secondary);

  @media (max-width: 1300px) {
    border: none;
    width: 100%;
  }

  @media (max-width: 576px) {
    padding: 30px 0;
  }

  .info {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 266px;
    border: 1px solid var(--color-background-secondary);
    border-radius: 50%;

    @media (max-width: 576px) {
      span {
        font-size: 22px;
      }
    }

    .icon {
      position: absolute;
      top: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 62px;
      height: 62px;
      border-radius: 50%;

      background: var(--color-text-primary);
    }
  }
}
