@font-face {
  font-family: 'Intern';
  src: url('../fonts/Inter.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
  font-family: 'Inter', sans-serif ;
  box-sizing: border-box;
}

main {
  margin-top: 200px;
    @media (max-width: 576px) {
    margin-top: 170px;
  }
}

h1,
h2,
h3,
p, span, .ant-typography {
  // letter-spacing: -5px;
  // letter-spacing: -2px;
  line-height: 100%;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

p,span, .ant-typography {
  font-size: 18px;
  font-family: 'Inter', sans-serif ;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  
  @media (max-width: 1440px) {
    padding: 0 30px;
  }
  @media (max-width: 576px) {
    padding: 0 15px;
  }
}



:root {
  --color-background-primary: #FFFFFF;
  --color-background-secondary: #F5F5F5;
  --color-text-primary: #101010;
  --color-text-secondary: #BABABA;
  --color-accent-start: #BB4642;
  --color-accent-end: #A22976;
  --color-gradient-accent: linear-gradient(90deg, var(--color-accent-start) 0%, var(--color-accent-end) 89%);
  --color-white-fill: grayscale(100%) brightness(0%) invert(1);
}