 .navButton {
     display: flex;
     height: 54px;
     background: var(--color-white);

     span {
         display: none;
         font-weight: 500;
     }

     img {
         width: 24px;
         height: 24px;
     }
 }

 .active {
     background: var(--color-black-2);
     padding: 15px 20px;
     width: 100%;

     span {
         display: flex;
         color: var(--color-white);

     }

     img {
         filter: grayscale(100%) brightness(0%) invert(1);
     }
     &:hover {
        background: var(--color-black-2) !important;
     }
 }