.navButton {
  overflow: hidden;
  display: flex;
  gap: 0px;
  width: 54px;
  height: 54px;
  background: var(--color-background-primary);
  transition:
    background 0.6s ease,
    width 0.5s ease;

  span {
    width: 0;
    opacity: 0;
    transition:
      width 0.3s ease,
      opacity 0.3s ease 0.1s;
    font-weight: 500;
  }

  img {
    width: 24px;
    height: 24px;
    transition: filter 0.6s ease;
  }

  @media (max-width: 576px) {
    gap: 5px;
    width: 100%;
    height: 54px;
    font-size: 16px;
    color: var(--color-background-primary);
    background: var(--color-text-primary);

    img {
      filter: var(--color-white-fill);
    }

    span {
      opacity: 1;
      color: var(--color-background-primary);
      width: auto;
      display: block;
    }
  }
}

.active {
  gap: 5px;
  color: var(--color-background-primary);
  background: var(--color-text-primary);
  padding: 15px 20px;
  width: auto;
  transition:
    background 1s ease,
    padding 0.3s ease;

  span {
    width: 100%;
    opacity: 1;
    transition: 0.2s;
  }

  img {
    filter: var(--color-white-fill);
  }

  &:hover {
    color: var(--color-background-primary) !important;
    background: var(--color-text-primary) !important;
  }
}
