.footerBranding {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: end;

    .slogan {
        color: var(--color-text-secondary);
        font-size: 120px;

        @media (max-width: 1000px) {
            font-size: 60px;
        }
        @media (max-width: 576px) {
            font-size: 32px;
        }
    }

    .signature {
        color: var(--color-text-secondary);
        font-size: 18px;
        font-weight: 500;

    }
}