.ourTeamSwiper {
  margin-top: 66px;
  display: flex;
  gap: 121px;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 800px) {
    margin-top: 40px;
    gap: 40px;
  }

  span {
    color: var(--color-background-primary);
    font-weight: 500;
  }

  .swiperImage,
  .sectionSwiperAndNav {
    width: 100%;
    max-width: 685px;
  }

  .swiperImage {
    border-radius: 25px;

    .slideImage {
      img {
        object-fit: cover;
        border-radius: 25px;
      }
    }
  }

  .sectionSwiperAndNav {
    padding-right: 4%;

    @media (max-width: 576px) {
      padding-right: 2%;
    }

    .swiperText {
      width: 100%;

      .slideText {
        .mainInfo {
          display: flex;
          align-items: end;
          gap: 30px;
          margin-bottom: 60px;

          @media (max-width: 576px) {
            gap: 20px;
            align-items: start;
            flex-direction: column;
            margin-bottom: 30px;
          }

          .name {
            font-size: 30px;
          }

          .position {
            font-size: 22px;
            opacity: 70%;
          }
        }

        .quote {
          opacity: 70%;
        }
      }
    }

    .navigation {
      margin-top: 80px;
      padding-bottom: 61px;
      border-bottom: 1px solid var(--color-text-secondary);
      display: flex;
      gap: 20px;

      @media (max-width: 576px) {
        padding-bottom: 0;
        border: none;
        margin-left: 16.5px;
        margin-top: 40px;
      }

      .navButton {
        width: 49px;
        height: 49px;
        border-radius: 50%;
        background: var(--color-background-primary);
      }

      .navButton:last-child {
        transform: rotate(180deg);
      }
    }
  }
}
