.ourTeam {
    margin-bottom: 300px;
    padding-top: 100px;
    padding-bottom: 52px;
    background: var(--color-text-primary);
    color: var(--color-background-primary);
    h2 {
        font-size: 60px;
        font-weight: 400;
        color: var(--color-background-primary);
    }
    .swiperTeamImg {
        margin-top: 66px;
        overflow: hidden;
        color: white !important;
        .slideTeam {
            color: white;
        }
    }
}