.header {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    z-index: 101;

    @media (max-width: 576px) {
        padding: 0 15px;
    }

    nav {
        height: 80px;
        padding: 13px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 656px;
        background: var(--color-gray-light);
        border-radius: 45px;
        box-shadow: 0px 13px 28px 0px #0000001A, 0px 51px 51px 0px #00000017, 0px 114px 68px 0px #0000000D, 0px 202px 81px 0px #00000003, 0px 316px 89px 0px #00000000;

        @media (max-width: 576px) {
            height: 60px;
        }

        .logo {
            width: 80px;
            height: 18px;

            @media (max-width: 576px) {
                 width: 62px;
                height: 14px;
                img {
                width: 62px;
                height: 14px;}
            }
        }

        .btns {
            display: flex;
            gap: 15px;

            @media (max-width: 576px) {
                display: none;
            }

            button {
                display: flex;
                height: 54px;
                background: var(--color-white);

                span {
                    display: none;
                    font-weight: 500;
                }

                img {
                    width: 24px;
                    height: 24px;
                }
            }

            .active {
                background: var(--color-black-2);
                padding: 15px 20px;
                width: 100%;

                span {
                    display: flex;
                    color: var(--color-white);

                }

                img {
                    filter: grayscale(100%) brightness(0%) invert(1);
                }
            }

        }

        .burgerMenu {
            background: none;
            display: none;

            img {
                width: 24px;
                height: 24px;

            }

            @media (max-width: 576px) {
                display: block;

            }
        }


    }

}

.btnsMob {
    display: flex;
    flex-direction: column;
    gap: 15px;

    button {
        width: 100%;
        height: 54;
        font-size: 16px;
        color: var(--color-white);
        background: var(--color-black-2);

        img {
            filter: grayscale(100%) brightness(0%) invert(1);
        }
    }
}