.header {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    padding: 0 30px;
    z-index: 101;

    @media (max-width: 576px) {
        padding: 0 15px;
    }

    nav {
        height: 80px;
        padding: 13px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 656px;
        background: var(--color-background-secondary);
        border-radius: 45px;
        box-shadow: 0px 13px 28px 0px #0000001A, 0px 51px 51px 0px #00000017, 0px 114px 68px 0px #0000000D, 0px 202px 81px 0px #00000003, 0px 316px 89px 0px #00000000;

        @media (max-width: 576px) {
            height: 60px;
        }
    }

}