        .cardProject {

            display: flex;
            gap: 59px;
            padding-bottom: 40px;
            border-bottom: 1px solid var(--color-background-secondary);

            @media (max-width: 1200px) {
                flex-direction: column;
            }

            @media (max-width: 576px) {
                gap: 15px;
            }

            .mainImg {
                width: 100%;
                height: 400px;

                :global(.ant-image) {
                    width: 100%;
                    height: 100%;
                    display: block;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 15px;
                    }
                }

                @media (max-width: 576px) {
                    height: 217px;
                }

            }

            .info {
                height: auto;
                display: flex;
                flex-direction: column;
                gap: 39px;

                @media (max-width: 576px) {
                    gap: 30px;
                }

                .infoText .infoImages {
                    height: 100%;
                }

                .infoImages {
                    display: flex;
                    gap: 40px;
                    justify-content: space-between;

                    @media (max-width: 576px) {
                        gap: 13px;
                    }

                    :global(.ant-image) {
                        width: 100%;
                        height: 180px;

                        @media (max-width: 576px) {
                            height: 104px;
                        }

                        img {
                            border-radius: 15px;
                            object-fit: cover;
                            width: inherit;
                            height: inherit;

                        }
                    }
                }

                .infoText {
                    height: 180px;

                    .title {
                        font-weight: 500;
                        font-size: 26px;
                    }

                    .description {
                        margin-top: 39px;
                        display: flex;
                        gap: 20px;
                        justify-content: space-between;
                        flex-direction: column;

                        span {
                            color: var(--color-text-secondary);

                            @media (max-width: 576px) {
                                font-size: 16px;
                            }
                        }

                    }
                }
            }
        }

        .cardProject:last-child {
            border: none;
            padding-bottom: 0;
        }