.cta {
    display: flex;
    gap: 10%;
    justify-content: space-between;
    padding: 32px 40px;
    margin-top: 24px;
    border-radius: 32px;
    border: 1px solid var(--color-text-secondary);

    p {
        font-size: 24px;
    }

    .btns {
        display: flex;
        gap: 12px;

        .btnContact {
            width: 183px;
            background: #F4F4F4;
            border: 1px solid #E9E9E9;
                        &:hover {
            background: #F4F4F4;
            border: 1px solid #E9E9E9;
            }
        }
    }
}