.missionBlock {
  margin-top: 80px;
  padding: 0 15.5px;
  display: flex;
  gap: 45px;

  @media (max-width: 1000px) {
    padding: 0;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 576px) {
    margin-top: 40px;
  }

  .missionInfo {
    width: 60%;

    @media (max-width: 1000px) {
      width: 100%;
    }

    .mainInfo {
      span {
        font-size: 60px;
        line-height: 80px;

        @media (max-width: 576px) {
          font-size: 40px;
          line-height: 70px;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 80px;

      @media (max-width: 576px) {
        margin-top: 40px;
      }

      span {
        color: var(--color-text-secondary);
      }
    }
  }
}