.listServices {
    margin-top: 40px;
    padding: 40px;
    border: 1px solid var(--color-text-secondary);
    border-radius: 32px;

    h2 {
        text-align: center;
        font-size: 30px;
    }
    .list {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }
}